<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h4>Cadastro de Fornecedores</h4>
                    <p>Insira os dados para completar o cadastro</p>
                    <hr />

                    <!-- mensagem de sucesso -->
                    <div *ngIf="mensagemSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Sucesso!</strong> {{ mensagemSucesso }}
                        <button (click)="mensagemSucesso = ''" type="button" class="btn-close"
                            aria-label="Close"></button>
                    </div>

                    <!-- mensagem de erro -->
                    <div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> {{ mensagemErro }}
                        <button (click)="mensagemErro = ''" type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label>Nome do fornecedor:</label>
                        <input type="text" class="form-control" placeholder="Digite aqui" formControlName="nome" />
                        <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
                            Por favor, informe o nome com pelo menos 8 caracteres.
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Realizar Cadastro"
                                [disabled]="form.invalid"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>